<div>
    <h2 class="sub-header">Adoptions:</h2>
    <div ng-show='filteredStatuses.length >= 1'>
        Filter:
	    <select ng-model="stateFilter" ng-options="filteredStatus.status for filteredStatus in filteredStatuses">
	    </select>
    </div>

    
<!--     Sort:
    <select ng-model="sortItem.store" ng-options="item.name for item in sortOptions.stores">
    </select> -->
    <div class="table-responsive">
            <span ng-show='adoptions.length < 1'> {{noAdoptionMessage}} </span>
            <table ng-show='adoptions.length >= 1' class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Animal name</th>
                  <th>Adoption #</th>
                  <th>Status</th>
                  <th>Submit Date</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="adoption in adoptions | filter:stateFilter"
                    ng-click="goToAdoption(adoption.id)">
                  <td>{{adoption.requestedAnimal.name}}</td>
                  <td>{{adoption.id}}</td>
                  <td>{{adoption.status}}</td>
                  <td>{{adoption.submitDate | date:'dd-MMMM-yyyy' }}</td>
                  
                </tr>
              </tbody>
            </table>
     </div>

</div>