<div>

	<div class="row placeholders">

		<div class="col-sm-3">
			<ul class="list-group">
				<li class="active list-group-item"><b>Adoption Information
				</b></li>
				<li class="list-group-item"><span class="badge badge">{{submission.animal.name}}</span>
					Name:</li>
				<li class="list-group-item"><span class="badge badge">{{submission.animalAge}}</span>
					Animal Age:</li>
				<li class="list-group-item"><span class="badge">{{submission.haveChildren}}</span>
					haveChildren:</li>
				<li class="list-group-item"><span class="badge">{{submission.color}}</span>
					Color:</li>
				<li class="list-group-item"><span class="badge">{{submission.specie}}</span>
					Species:</li>
				<li class="list-group-item"><span class="badge">{{submission.breed}}</span>
					Breed:</li>
				<li class="list-group-item"><span class="badge">{{submission.status}}</span>
					Status:</li>
				<li class="list-group-item"><span class="badge">{{submission.submitDate
						| date:'dd-MMMM-yyyy' }}</span> Submit date:</li>

			</ul>
		</div>

		<input type="button" class="form-control"
			ng-disabled="adoption.animal.name" ng-click="suggestAnimal()"
			value="Suggest Animals">



		<div ng-show="submission.animal.medicalRecord" class="col-sm-3">
			<ul class="list-group">
				<li class="list-group-item active"><b>Medical Information </b></li>
				<li class="list-group-item"><span class="badge">{{submission.animal.medicalRecord.lastVisit
						| date:'dd-MMMM-yyyy'}}</span> Last visit:</li>
				<li class="list-group-item"><span class="badge">{{submission.animal.medicalRecord.vetName}}</span>
					Veterinarian:</li>
				<li ng-show="submission.animal.medicalRecord.vaccines.length > 0"
					class="list-group-item"><span
					ng-repeat="item in submission.animal.medicalRecord.vaccines"
					class="badge">{{item.vaccine.name}}</span> Vaccines:</li>
			</ul>
		</div>


		<div ng-show="isAdmin" class="col-sm-3">
			<ul class="list-group">
				<li class="list-group-item active"><b>Submitter</b></li>
				<li class="list-group-item"><span class="badge">{{submission.person.firstname}}</span>
					First Name:</li>
				<li class="list-group-item"><span class="badge">{{submission.person.lastName}}</span>
					Last Name:</li>
				<li class="list-group-item"><span class="badge">{{submission.person.email}}</span>
					Email:</li>
				<li class="list-group-item"><span class="badge">{{submission.person.phoneNumber}}</span>
					Phone Number:</li>
			</ul>
		</div>

		<div ng-hide="isAdmin" class="col-sm-3">
			<ul class="list-group">
				<li class="list-group-item active"><b>Reviewer</b></li>
				<li ng-hide='submission.staff' class="list-group-item ">not
					assigned yet</li>
				<li ng-show='submission.staff' class="list-group-item"><span
					class="badge">{{submission.staff.firstName}}</span> First Name:</li>
				<li ng-show='submission.staff' class="list-group-item"><span
					class="badge">{{submission.staff.lastName}}</span> Last Name:</li>
				<li ng-show='submission.staff' class="list-group-item"><span
					class="badge">{{submission.staff.email}}</span> Email:</li>
				<li ng-show='submission.staff' class="list-group-item"><span
					class="badge">{{submission.staff.phoneNumber}}</span> Phone Number:</li>
			</ul>
		</div>
	</div>


	<span class="pull-left">Status: {{submission.status}}</span> <br>
	<br>

	<div ng-show="isAdmin">
		<form class="navbar-form navbar-left">
			<label>Comments:</label> <br>
			<textarea class="form-control" ng-model="submission.staffComments"></textarea>
			<br> <br> <input type="button" class="form-control"
				ng-disabled="!submission.staffComments"
				ng-click="approveSubbmission()" value="Approve"> <input
				type="button" class="form-control"
				ng-disabled="!submission.staffComments"
				ng-click="rejectSubmission()" value="Reject">
		</form>
	</div>

</div>
